__pycache__/
*/__pycache__
**/__pycache__
.pytest_cache/
*/.pytest_cache/

.vscode/

tests/
static/
cloud_functions/

main.py
debug_db.py

Makefile
*.sqlite
README.md
requirements.txt

training/
.ipynb_checkpoints/
**/.ipynb_checkpoints/