__pycache__
*/__pycache__
**/__pycache__
.pytest_cache
*/.pytest_cache

.vscode

*.pkl
*.sqlite
config.py
debug_db.py
gcp-credentials.json

training/food-101
.ipynb_checkpoints/
**/.ipynb_checkpoints/