{% extends "base.html" %}

{% block content %}
<div class="block">
    <p class="title is-2 multiline"><i>{{ username }}</i>, voici vos résultats.</p>
</div>

{% if labels|length %}
<div class="columns is-centered">
    <div class="column">
        <div>
            <canvas id="myChart" style="width: 80%;"></canvas>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script>
    var labelsFlask = {{ labels|tojson }};
    var predsFlask = {{ preds|tojson }};
    
    var dynamicColors = function () {
        var array = [];
        for (var i = 0; i < predsFlask.length; i++) {            
            var r = Math.floor(Math.random() * 255);
            var g = Math.floor(Math.random() * 255);
            var b = Math.floor(Math.random() * 255);
            array.push("rgba(" + r + "," + g + "," + b + ", 0.7)");
        };
        return array
    };

    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'polarArea',
        data: {
            labels: labelsFlask,
            datasets: [{
                label: 'My dataset',
                data: predsFlask,
                backgroundColor: dynamicColors()
            }]
        },
        options: {
            scale: {
                ticks: {
                    fontColor: '#000',
                    fontSize: 18,
                    beginAtZero: true
                },
                reverse: false
            },
            pointLabels: {
                fontSize: 18
            },
            legend: {
                position: 'bottom',
                labels: {
                    boxWidth: 14,
                    fontSize: 18,
                    fontFamily: 'Helvetica',

                }
            },
            animation: {
                animateRotate: false,
                animateScale: true
            }
        }
    });
</script>

{% else %}

<div class="block">
    <p class="subtitle">Pas d'image sur votre compte</p>
</div>

{% endif %}

{% endblock %}