{% extends "base.html" %}

{% block content %}
<div class="columns is-vcentered is-centered">
    <div class="column">
        <h1 class="title has-text-left">Bonjour 👋</h1>
        <div class="block">
            <h1 class="title has-text-left">envie d'utiliser notre service ?</h1>
        </div>
        <div class="block">
            <p class="subtitle has-text-left">
                Ajoutez simplement une image et laissez notre outil faire le travail.
            </p>
            <p class="subtitle has-text-left">
                Vos images sont stockées 24h sur nos serveurs avant d'être supprimées.
            </p>
        </div>
    </div>

    <div class="column is-5">
        <img src="{{url_for('static', filename='img/welcome.png')}}" alt="welcome.png">
    </div>
</div>
{% endblock %}