{% extends "base.html" %}

{% block content %}
<div class="columns is-vcentered is-centered">
    <div class="column is-6 is-offset-1 has-text-left">
        <div class="block">
            <p class="title is-1 multiline">Reconnaissance instantanée de nourriture</p>
            <p class="subtitle is-4 multiline">Ajouter simplement une image de votre plat.</p>
        </div>
        <div class="block">
            <p>
                <b>Mon Gueuleton</b> est un service de reconnaissance de nourriture
                utilisant les dernières techniques de <i>deep learning</i> et de classification d'image.
            </p>
            <br>
            <p>
                Toutes vos images sont supprimés de notre base de données au bout d'une semaine.
            </p>
        </div>
        <div class="block">
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('upload') }}" class="button is-rounded is-danger">C'est parti</a>
            {% else %}
            <a href="{{ url_for('signup') }}" class="button is-rounded is-danger">C'est parti</a>
            {% endif %}
        </div>
    </div>

    <div class="column" data-tilt data-tilt-startX="20">
        <img src="https://caloriemama.ai/img/phone2b.png" alt="welcome.png" class="img-index">
        <!-- <img src="https://i.ibb.co/5Y0H96c/3D.png" alt="welcome.png" class="img-index"> -->
    </div>
</div>
{% endblock %}