<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mon projet Chef d'Oeuvre</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico')}}" />
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Rubik:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
</head>

<style>
    body {
        background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
        font-family: 'Rubik', sans-serif;
        font-weight: 700;
    }

    nav a,
    button {
        font-family: 'Karla', sans-serif;
    }
</style>

<body>
    <section class="hero is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item">
                            <span class="is-size-2">
                                BGREMOVE
                            </span>
                        </a>
                        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                            data-target="navMenu">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>
                    <div id="navMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('main.index') }}" class="navbar-item">
                                Accueil
                            </a>
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.profile') }}" class="navbar-item">
                                Mon profil
                            </a>
                            {% endif %}
                            {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                                Inscription
                            </a>
                            <span class="navbar-item">
                                <a href="{{ url_for('auth.login') }}" class="button is-info">
                                    <span class="icon">
                                        <i class="fas fa-user-circle"></i>
                                    </span>
                                    <span>Mon compte</span>
                                </a>
                            </span>

                            {% endif %}
                            {% if current_user.is_authenticated %}
                            <span class="navbar-item">
                                <a href="{{ url_for('main.upload') }}" class="button is-info">
                                    <span class="icon">
                                        <i class="fas fa-file-upload"></i>
                                    </span>
                                    <span>Ajouter un fichier</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a href="{{ url_for('auth.logout') }}" class="button is-danger">
                                    <span class="icon">
                                        <i class="fas fa-sign-out-alt"></i>
                                    </span>
                                    <span>Déconnexion</span>
                                </a>
                            </span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </section>
</body>

<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });

</script>

</html>