{% extends "base.html" %}

{% block content %}
<div class="columns">
    <div class="column">
        <h1 class="title">
            Flask Login Example
        </h1>
        <h2 class="subtitle">
            Easy authentication and authorization in Flask.
        </h2>
    </div>
    <div class="column">
        <figure class="image is-4by3">
            <img src="https://images.unsplash.com/photo-1603690969587-31fedd1009c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80">
        </figure>
    </div>
</div>
{% endblock %}