{% extends "base.html" %}

{% block content %}
<div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter">
        <h3 class="title">Mon compte</h3>
        <div class="box">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}
            <form method="POST" action="/login">
                <div class="field">
                    <label class="label">Pseudonyme</label>
                    <div class="control has-icons-left">
                        <input class="input is-large" type="text" name="username" placeholder="jean"
                            autofocus="">
                        <span class="icon is-small is-left">
                            <i class="fas fa-user-circle"></i>
                        </span>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Mot de passe</label>
                    <div class="control has-icons-left">
                        <input class="input is-large" type="password" name="password" placeholder="*******">
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox">
                        Se souvenir de moi
                    </label>
                </div>
                <button class="button is-block is-info is-large is-fullwidth">Connexion</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}