{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <div class="card">
        <div class="card-image">
            <figure class="image is-256x256">
                <img src="{{url_for('static', filename='img/user.png')}}"
                    alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="content">
                <p class="title is-4">{{ username }}</p>
                <p class="subtitle is-6">{{ email }}</p>
            </div>

            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                <a href="#">#css</a> <a href="#">#responsive</a>
                <br>
                <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
            </div>
        </div>
        <footer class="card-footer">
            <a href="#" class="card-footer-item">Save</a>
            <a href="{{ url_for('auth.logout') }}" class="card-footer-item">Logout</a>
        </footer>
    </div>
</div>
{% endblock %}